.mobileHeader{
    display: flex;
    justify-content: center;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 0px 0px 0px 20px;
    background-color: #B89F61;
    z-index: 100;
    transition: 0.3s ease;
}

.popup img{
    display: block;
    width: 21px;
    height: 18px;
}

.mobileLogoSvg{
    margin-top: 26px;
}

.popup__menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    background: #B89F61;
    color: white;
    height: 100vh;
    padding: 0px 24px;
    z-index: 99;
}

.popup__menu img{
    margin-right: 10px;
}

.popup__menu__number{
    display: flex;
    align-items: center;
}

.popup__menu__contact{
    display: flex;
    align-items: center;
}

.popup__menu__numbers{
    padding: 24px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 14px;
}

.popup__menu__number:nth-child(1){
    margin-bottom: 16px;
}

.popup__menu__urls{
    display: flex;
    flex-direction: column;
}

.popup__menu__urls a{
    margin-top: 10px;
    margin-bottom: 10px
}

.popup__menu__contacts{
    display: flex;
    margin-top:auto;
    flex-direction: column;
    bottom:0;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom:24px;
}

.popup__menu__contact{
    margin-top:25px;
}