
.header{
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 1.3fr;
    margin-left:11.5%;
    margin-right: 11.5%;
    padding-top:22px;
    color: white;
    
}

@media (max-width: 1199px) {
    .header{
        margin-left:25px;
        margin-right: 25px;
    }
}

.column{
    display: flex;
    flex-direction: column;
}

.info{
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:72px;
    padding-bottom: 26px;
    border-bottom: 2px solid #B89F61;
    font-size:14px;
    line-height: 20px;
    min-width:322px;
}

.contacts{
    justify-content: space-between;
}

.mail{
    display: flex;
    flex-direction: row;
}

.mailSvg{
    display: flex;
    align-items: center;
    justify-content: center;
}


.ico{
    margin-right:11px;
}

.tabs{
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.left{
    padding-right:15px;
}

.right{
    padding-left: 15px;
}

.phoneNumber{
    margin-top:8px;
}


.logoSvg{
    text-align: center;
}

.active{
    color:#B89F61;
}

.tabs a{
    transition: 0.3s ease;
}

.tabs a:hover{
    color:#B89F61;
}
