.gallery img{
    margin: 0;
    width:100%;
    height: 100%;
    transition: 0.3s ease;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.gallery__sliderPhoto{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(18, 18, 18, 0.85);
}

.gallery__sliderPhoto__container{
    position: fixed;
    width: 50%;
    top:15%;
    left:25%;
}

.closeButton{
    position: absolute;
    right: 0;
    margin-top: -60px;
    margin-right: -60px;
    opacity: 0.5;
    transition: 0.3s ease;
}

.closeButton:hover{
    cursor: pointer;
    opacity: 1;
}

.gallery__sliderPhoto .swiper-wrapper{
    margin-bottom:32px;
}

.navigationButtons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigationButtons .prev{
    width:80px;
    height: 85px;
    margin-right:250px;
    transform: scale(-1, 1);
    opacity:0.5;
    transition: 0.3s ease
}

.navigationButtons .prev:hover{
    cursor: pointer;
    opacity:1
}

.navigationButtons .next{
    width:80px;
    height: 85px;
    margin-left:10px;
    opacity:0.5;
    transition: 0.3s ease
}

.navigationButtons .next:hover{
    cursor: pointer;
    opacity:1
}

.gallery__sliderPhoto .swiper-pagination{
    padding-bottom:20px;
}

@media (max-width: 767px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
    }
    .gallery__sliderPhoto__container{
        position: fixed;
        width: 100%;
        top:50%;
        left:0;
        transform: translate(0, -50%);
    }
    .closeButton{
        position: absolute;
        right: 0;
        margin-top: -40px;
        margin-right: 5px;
        opacity: 0.5;
        transition: 0.3s ease;
        z-index: 999;
        width:30px;
    }
}