.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(80.94% 80.94% at 50% 50%, rgba(10, 10, 10, 0) -150%, #0B0B0B 100%), linear-gradient(180deg, #0A0A0A 20%, rgba(10, 10, 10, 0) 100%)
                , no-repeat url('./images/background.png');
    background-size: cover;
    color: white;
    padding-bottom: 150px;
}

a{
    text-decoration: none;
    color: white;
}

.attention{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #151515;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.footer__main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__main__logo{
    display: flex;
    justify-content: center;
    margin-top:75px;
}

.footer__main__menu{
    display: flex;
    margin: 60px 165px;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid #B89F61;
    border-bottom: 2px solid #B89F61;
}

.footer__main__contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B89F61;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 165px;
}

.contacts__block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.number{
    display: flex;
}

.number.bottom{
    margin-top: 10px;
}

.contacts__img{
    display: flex;
    align-items: center;
}

.contacts__img img{
    margin-right: 11px;
}

.footer__main__menu a{
    transition: 0.3s ease;
}

.footer__main__menu a:hover{
    color:#B89F61;
}