.vacancies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 165px 88px 165px;
}


.vacancies__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 182px;
    grid-row-gap: 66px;
    margin-bottom: 74px;
}

.vacancies__button button{
    width: 292px;
    height: 62px;
}

.vacancies__item__title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.vacancies__item__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}