.best_products{
    display: flex;
    background: no-repeat url('./images/Grapes.png');
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 105px;
}

.products__title{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.products__title__top{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: #B89F61;
}

.products__title__text{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 46px;
    line-height: 63px;
    margin-bottom: 47px;
}

.products__title__text img{
    margin:24px;
}

.items{
    display: flex;
}

.card{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    margin:15px;
    padding-top: 45px;
    width: 255px;
    height: 430px;
    background-color: rgba(255,255,255,0.6);
}

.card .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.items .card:nth-child(1){
    order:4;
}

.items .card:nth-child(2){
    order:2;
}

.items .card:nth-child(3){
    order:1;
}

.items .card:nth-child(4){
    order:3;
}

.card .item .descr{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    margin-top: 15px;
    
}

.card .item .cap{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin:2px;
}

.card .item img{
    height: 250px;
}