@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;800&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  overflow-x: auto;
  
}

@media (max-width: 1199px) {
  .wrapper{
      min-width: 1200px;
  }
}